body {
    background-image: url("/img/Fundo_da_sua_mãe-removebg-preview.png");
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.Bloco2 {
    background-color: white;
    border: 1px solid black;
}
.bg-red {
    background: red;
}

.bg-pergaminho {
    background: #F5F5F5;
}